
@{
    ViewBag.Title = "OrderAll";
}


<h2>Order Confirmation</h2>

<p>Your order has been placed successfully.</p>


@Html.ActionLink("Continue Shopping", "CustomerHome", "Home", new { @class = "btn btn-primary" })